@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-controller="Home" asp-action="Convert">
        <p>
            <br>
            <textarea name="mdString" rows="20" cols="400"></textarea>
            <br>
            <input type="submit" value="Convert" />
        </p>
    </form>
</div>



